.news-detail-image {
    width: 100%;
    height: 250px;
}
.news-detail-image img {
    width: 100%;
}

.items-by-category {
    display: grid;
}

.news-content {
    position: relative;
}

.news-content img {
    max-width: 100%;
}

.news-short-description {
    color: #8f8f96;
    font-style: italic;
    overflow: hidden;
    text-overflow: ellipsis;
    /* line-height: 25px; */
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.line-clamp-2 {
    -webkit-line-clamp: 2 !important;
}

.text-white {
    color: #ffffff !important;
}

.about-prea p {
    font-size: 17px !important;
}

.single-follow > a {
    margin-bottom: 10px;
}

