.news-detail-image {
    width: 100%;
    height: 250px;
}
.news-detail-image img {
    width: 100%;
}

.items-by-category {
    display: grid;
}

.news-content {
    position: relative;
}

.news-content img {
    max-width: 100%;
}

.news-short-description {
    color: #8f8f96;
    font-style: italic;
    overflow: hidden;
    text-overflow: ellipsis;
    /* line-height: 25px; */
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.line-clamp-2 {
    -webkit-line-clamp: 2 !important;
}

.text-white {
    color: #ffffff !important;
}

.about-prea p {
    font-size: 17px !important;
}

.single-follow > a {
    margin-bottom: 10px;
}

.category-title {
    color: #17a2b8;
}

.category-detail .list-news .news-item {
    display: grid;
    grid-template-columns: 20% auto;
    width: 100%;
    padding: 10px 5px;
    border-radius: 5px;
}

.category-detail .list-news .news-item .image {
    position: relative;
    /* width: 100%; */
}

.news-item .image img {
    width: 100%;
    object-fit: cover;
    height: 120px;
    border-radius: 5px;
}

#navigation .active a, .slicknav_nav .active a {
    color: #17a2b8 !important;
}

@media (max-width: 767px) {
    .trending-main > .row {
        display: block !important
    }
    .category-detail .list-news .news-item {
        grid-template-columns: 40% auto;
    }
    .category-detail .list-news .news-item .short-description {
        display: none;
    }
}
