.news-detail-image {
    width: 100%;
    height: 250px;
}
.news-detail-image img {
    width: 100%;
}

.items-by-category {
    display: grid;
}

.news-content {
    position: relative;
}

.news-content img {
    max-width: 100%;
}

